---
# tasks file for nrpe_client

- name: 1. Instalar Agente NRPE y Plugins de Monitorización
  apt:
    name:
      - nagios-nrpe-server
      - monitoring-plugins
    state: present
    update_cache: yes

- name: 2. Configurar 'allowed_hosts' (Seguridad Crítica)
  # Esto cumple el requisito de seguridad del profesor: solo el servidor Nagios puede preguntar via NRPE
  lineinfile:
    path: /etc/nagios/nrpe.cfg
    regexp: '^allowed_hosts='
    line: 'allowed_hosts=127.0.0.1,::1,192.168.56.10'
    state: present
  notify: Reiniciar NRPE

- name: 3. Definir Comandos Personalizados (Check Disk)
  # Nagios preguntará por "check_hda1" y NRPE ejecutará este comando local
  lineinfile:
    path: /etc/nagios/nrpe.cfg
    regexp: '^command\[check_hda1\]='
    line: 'command[check_hda1]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /'
  notify: Reiniciar NRPE

- name: 4. Asegurar que el servicio NRPE está activo
  service:
    name: nagios-nrpe-server
    state: started
    enabled: yes
