---
- name: Instalación y Configuración de Servidor Web Apache
  hosts: webservers         # Grupo definido en mi inventario (la máquina .20)
  become: yes               # Usar 'sudo'  
  
  tasks:
    - name: 1. Actualizar la lista de repositorios (apt update)
      apt:
        update_cache: yes
        cache_valid_time: 3600  # Si se actualizó hace menos de 1h, no repetir

    - name: 2. Instalar el paquete Apache2
      apt:
        name: apache2
        state: present

    - name: 3. Asegurar que el servicio está iniciado y habilitado al arranque
      service:
        name: apache2
        state: started
        enabled: yes